<!DOCTYPE html>
<html>
<head>
  <title>Web</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="span12">
   <div class="header">
      <div class="row text-center"><%= image_tag("cloud_logo.png", :alt => "logo", :class => "logo_image") %></div>
      <div class="row text-center"><span>SIDEKICK</span></div>
   </div>
 </div>


<% @hello %>



</body>
